AZURE_OPENAI_ENDPOINT=https://YOUR-RESOURCE.openai.azure.com/
AZURE_OPENAI_API_KEY=YOUR_KEY

AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_CHAT_DEPLOYMENT=gpt-4.1
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large

AZURE_SEARCH_ENDPOINT=https://search-service-name.search.windows.net
AZURE_SEARCH_API_KEY=YOUR_SEARCH_KEY
AZURE_SEARCH_INDEX1=rag-1789033469043
AZURE_SEARCH_INDEX2=rag-1790837277383

MAX_CONTEXT_TOKENS=4000
TOP_K=10
AZURE_RERANK_ENDPOINT=https://foundry project name-resource.services.ai.azure.com/providers/cohere/v2/rerank
AZURE_RERANK_API_KEY=key
AZURE_RERANK_DEPLOYMENT=Cohere-rerank-v4.0-fast
AZURE_STORAGE_ACCOUNT_URL=https://abhayblobstore.blob.core.windows.net
AZURE_STORAGE_CONTAINER1=blob-container
AZURE_STORAGE_CONTAINER2=blob-container2
AZURE_STORAGE_CONNECTION_STRING=connection_string
AZURE_SEARCH_INDEXER2=rag-1790837277383-indexer
AZURE_SEARCH_INDEXER1=rag-1789033469043-indexer